body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  margin: 0;
  text-align: center;
}

.register-container {
  margin-left: -50px;
}

h1 {
  margin-left: 200px;
  margin-top: 120px;
  font-size: 2.1em;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

label {
  margin-right: 25px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  width: 180px;
  white-space: nowrap;
}

input {
  width: 250px;
  padding: 12px;
  font-size: 1.1em;
  border: 1px solid #000000;
  border-radius: 6px;
}

button {
  padding: 10px 60px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #0bf1e6;
  color: rgba(0, 12, 11, 0.808);
  font-weight: bold;
  margin-left: 200px;
  border: none;
  border-radius: 15px;
}

#error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
  margin-left: 200px;
  margin-top: 30px;
  height: 20px;
  width: 300px;
  visibility: hidden; /* Hidden by default */
}
